# .gitignore

# Python virtual environments
venv/
*/venv/

# Python cache & artifacts
__pycache__/
*.pyc
build/
dist/

# Node dependencies
node_modules/
*/node_modules/

# Environment files
.env
*/.env

# IDE & Editor folders
.vscode/
.idea/

# Media and Model files
*.mp4
*.mov
*.avi
*.pt

# System files
.DS_Store